*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(146, 120, 96);
}
.MenuH{
    width: 70%;
    margin: 20px auto 20px auto;
}
.MenuH  a, .MenuV a{
    background-color: burlywood;
    color:black;
    text-decoration: none;
    float:left;
    width:25%;
    text-align: center;
    padding: 20px;
}

.MenuH a:hover, .MenuV a:hover{
    background-color: rgb(228, 200, 165);
    color: black;
}
.MenuV a{
    display: block;
    float: none;
    width: 30%;
}
.MenuV{
    width: 50%;
    float: left;
}