*{
    margin:0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body{
    width: 70%;
    margin:auto;
    font-size: 1.5em ;
}

nav{
    padding:50px 0px 50px 0px;
    display: flex;
}

nav a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(227, 172, 100);
}

section{
    padding: 50px 0px 50px 0px ;
    text-align: justify;

}

section a{padding: 25px;}
h1{background-color: rgb(147, 113, 40);}

p{
    padding: 25px;
    background-color: rgb(217, 185, 78);
}